<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Form for Login</title>
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
		<!-- //<link rel="icon" href="favicon.gif" type="image/png"> -->
		<!-- //<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> -->
		<!-- //<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"> -->
		<!-- //<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> -->
		<!-- //<link rel="manifest" href="/site.webmanifest"> -->
		<!-- //<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"> -->
		<!-- //<meta name="msapplication-TileColor" content="#da532c"> -->
		<!-- //<meta name="theme-color" content="#ffffff"> -->
		
	</head>
<body>

	<div class="profile">
		<!-- <img src="template.jpg" alt="why is my image not scaling" align="center"> -->
		<center><IMG SRC="template.jpg" ALT="some text" WIDTH=400 HEIGHT=85></center>
		
	</div>
	<form action="http://localhost:5678/api/v1.0/login" method="post">
		<div class="loginbox">
			<h1>Login</h1>
			<div class="textbox">	
				<i class="fas fa-user" aria-hidden="true"></i>
				<input type="text" placeholder="Username" style="color: white;" name="user_name" value="">
			</div>
			
			<div class="textbox">	
				<i class="fas fa-lock"></i>
				<input type="password" placeholder="Password" name="user_password" value="">
			</div>
			
			<input class="btn" type="button" name="" value="Sign In">
	</form>
	<form action="http://localhost:5678/api/v1.0/createUser" method="post">
			<!--<input class="btn" type="button" name="" value="Create Account">-->
			<input class="btn2" type="submit" name="" value="Register Here!">
			
		</form>
			<input type="button" class="btn" name="" value="Forgot Password?">
			
		</div>
</body>

</html>