@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*{
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	background-image: url(loginBackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
	
}

.profile{
	padding: 30px 0px;
	border-radius: 30%;
}
img{
	height: 110px;
	width: 480px;
	border-radius: 10%;
	margin-bottom: 0px;
}

.loginbox{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	
}
.loginbox h1{
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #ffA500;
	margin-bottom: 50px;
	padding: 13px 0;
	color: white;
	
	//width: 100%;
	//height: 100vh;
	
	//background-position: center;
	
	
	//display: flex;
	//align-items: center;
	//justify-content: center;
	//text-align: center;	
}
::-webkit-input-placeholder{
	color: silver;
}
.textbox {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #ffA500;
	color: white;
}

.textbox i{
	width: 26px;
	float: left;
	text-align: center;
	color: white;
	
}

.textbox input{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}

.btn {
	width: 100%;
	background: none;
	border: 2px solid #4caf50;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
}

.btn2 {
	width: 100%;
	background: none;
	border: 2px solid #ffA500;
	color: white;
	padding: 3px;
	font-size: 16px;
	cursor: pointer;
	margin: 8px 0;
}